.buslist-bg .table-wrapper{
    
    padding: 10px;
    background-color: rgb(7, 7, 96);
    text-align: center;
    margin-left: 200px;
    margin-right: 220px;
    color: white;
    margin-top: 10%;
   

}
th{
    padding: 30px;


}


